@charset "UTF-8";

*{
	box-sizing: border-box;
}
#hidden{
	display: none;
}
body,html{
	margin: 0;
	padding: 100px 0 1000px 0;
	text-align: center;
	background-color: #FFFAFA;
	height: 100px;
	height: 100%;
  	font-family: 'Lato', sans-serif;
}

form{
	line-height: 180%;
	padding: 20px;
	background-color: #FFFACD;
	height: auto;
	width: 45%;
	margin: auto;
	border-left: solid 6px #5bb7ae;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
}
header{
	position: fixed; /* ヘッダーを固定する */
	top: 0; /* 上部から配置の基準位置を決める */
	left: 0; /* 左から配置の基準位置を決める */
	width: 100%; /* ヘッダーの横幅を指定する */
	height: 100px; /* ヘッダーの高さを指定する */
	padding: 10px; /* ヘッダーの余白を指定する(上下左右) */
	background-color: #FFFF77; /* ヘッダーの背景色を指定する */
	color: #000000; /* フォントの色を指定する */
	display:inline-flex;
	padding: 10px;
}

a{
	text-decoration: none;
}

input[type="text"] {
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}
input[type="text"]:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}

input[type="date"] {
  width: 40%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}
input[type="date"]:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}

input[type=radio] {
display: none; 
}
input[type="radio"]:checked + label {
background: #31A9EE;/* マウス選択時の背景色を指定する */
color: #ffffff; /* マウス選択時のフォント色を指定する */
}
.radio2{
display: block; /* ブロックレベル要素化する */
float: left; /* 要素の左寄せ・回り込を指定する */
margin: 5px; /* ボックス外側の余白を指定する */
width: 22%; /* ボックスの横幅を指定する */
height: 45px; /* ボックスの高さを指定する */
padding-left: 5px; /* ボックス内左側の余白を指定する */
padding-right: 5px; /* ボックス内御右側の余白を指定する */
color: #000000; /* フォントの色を指定 */
text-align: center; /* テキストのセンタリングを指定する */
line-height: 45px; /* 行の高さを指定する */
cursor: pointer; /* マウスカーソルの形（リンクカーソル）を指定する */
border: 2px solid #006DD9;/* ボックスの境界線を実線で指定する */
border-radius: 5px; /* 角丸を指定する */
}
.radio1{
display: block; /* ブロックレベル要素化する */
float: left; /* 要素の左寄せ・回り込を指定する */
margin: 5px; /* ボックス外側の余白を指定する */
width: 30%; /* ボックスの横幅を指定する */
height: 45px; /* ボックスの高さを指定する */
padding-left: 5px; /* ボックス内左側の余白を指定する */
padding-right: 5px; /* ボックス内御右側の余白を指定する */
color: #000000; /* フォントの色を指定 */
text-align: center; /* テキストのセンタリングを指定する */
line-height: 45px; /* 行の高さを指定する */
cursor: pointer; /* マウスカーソルの形（リンクカーソル）を指定する */
border: 2px solid #006DD9;/* ボックスの境界線を実線で指定する */
border-radius: 5px; /* 角丸を指定する */
}
label:hover {
background-color: #E2EDF9; /* マウスオーバー時の背景色を指定する */
}


textarea {
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}

textarea:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}
 
.button {
  display: inline-block;
  width: 150px;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #E2EDF9;/*ボタン色*/
  color: #000000;
  border-bottom: solid 4px #627295;
  border: 2px solid #006DD9;/* ボックスの境界線を実線で指定する */
  border-radius: 5px; /* 角丸を指定する */
}
.button:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}
table{
line-height: 180%;
	padding: 20px;
	background-color: #FFFACD;
	height: auto;
	width: 80%;
	margin: auto;
	border-left: solid 6px #5bb7ae;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
}

