<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div>新しいパスワードを入力してください</div>
	<div>※パスワードの再設定が完了すると、ログインページに戻ります。</div>
	<div id="error" style="color: red"></div>
	<form th:action="@{/user/resetPasswordComplete}" method="post" th:object="${usersForm}">
		<input type="hidden" name="email" th:field="*{email}">
		<div>新しいパスワード</div>
		<input type="password" name="password" th:field="*{password}">
		<div>新しいパスワード（確認用）</div>
		<input type="password" name="cpassword">
		<button>パスワード変更</button>
	</form>

</body>
</html>