<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>パスワード変更</title>
<link rel="stylesheet" th:href="@{../css/common.css}" />
</head>
<body>
	<header th:insert="todoList :: frag_header"></header>
	<div>新しいパスワードを入力してください</div>
	<div>※パスワードの再設定が完了すると、マイページに戻ります。</div>
	<div>※パスワードと確認用パスワードが未入力または不一致の場合、パスワード変更は機能しません。</div>
	<div id="noMatchPassword" style="color: red"></div>
	<form th:action="@{/myPage/changePasswordComplete}" method="post" th:object="${usersForm}">
		<div id="noMatchPassword" style="color: red"></div>
		<input type="hidden" name="token" th:value="${token}">
		<input type="hidden" name="email" th:field="*{email}">
		<div th:text="${error}" style="color: red"></div>
		<div>新しいパスワード</div>
		<input type="password" name="password" id="password" th:field="*{password}">
		<div>新しいパスワード（確認用）</div>
		<input type="password" name="checkPassword" id="checkPassword"> <br>
		<button class="button" id="submit">パスワード変更</button>
	</form>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script th:src="@{/js/common.js}"></script>
</body>
</html>