<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<span th:text="${error}"></span>
	<form th:action="@{/user/changePassword}" th:object="${usersForm}" method="post">
		<input type="hidden" name="email" th:field="*{email}">
		<div>秘密の質問1</div>
		<input type="text" name="secretAnswer1" th:field="*{secretAnswer1}">
		<div>秘密の質問2</div>
		<input type="text" name="secretAnswer2" th:field="*{secretAnswer2}">
		<div>秘密の質問3</div>
		<input type="text" name="secretAnswer3" th:field="*{secretAnswer3}">
		<button>送信</button>
	</form>

</body>
</html>