<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>to-doログ</title>
<link rel="stylesheet" th:href="@{../css/common.css}" />
</head>
<body>
	<header th:insert="todoList :: frag_header"></header>
	<h1>todoListLog</h1>
	<span class="hidden" th:value="${token}"></span>
	<table border="1">
		<tr>
			<th>重要度</th>
			<th>やること</th>
			<th>期限</th>
			<th>カテゴリ</th>
			<th>備考・メモ</th>
		</tr>
		<tr th:each="item : ${todoList}">
			<td th:text="${item.importance}"></td>
			<td th:text="${item.todo}"></td>
			<td th:text="${item.term}"></td>
			<td th:text="${item.category}"></td>
			<td th:text="${item.memo}"></td>
		</tr>
	</table>

</body>
</html>