<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>to-do登録</title>
<link rel="stylesheet" th:href="@{../css/common.css}" />
</head>
<body>
	<header th:insert="todoList :: frag_header"></header>
	<h2>todo登録</h2>
	<form th:action="@{/myPage/insertTodo}" th:object="${todoListForm}" method="post">
		<div th:errors ="*{importance}" style="color: red"></div>
		<div>【重要度】</div>
		<input type="radio" th:value="1" th:field="*{importance}">
		<span>低</span>
		<input type="radio" th:value="2" th:field="*{importance}">
		<span>中</span>
		<input type="radio" th:value="3" th:field="*{importance}">
		<span>高</span>
		<br>
		<div th:errors="*{todo}" style="color: red"></div>
		<div>【todo】</div>
		<input type="text" th:field="*{todo}">
		<br>
		<div th:errors="*{term}" style="color: red"></div>
		<div>【期限】</div>
		<input type="date" th:field="*{term}">
		<br>
		<div th:errors="*{category}" style="color: red"></div>
		<div>【カテゴリ】</div>
		<input type="radio" th:value="1" th:field="*{category}">
		<span>仕事</span>
		<input type="radio" th:value="2" th:field="*{category}">
		<span>日課</span>
		<input type="radio" th:value="3" th:field="*{category}">
		<span>緊急</span>
		<input type="radio" th:value="4" th:field="*{category}">
		<span>その他</span>
		<br>
		<div>【備考・メモ】</div>
		<textarea rows="10" cols="30" th:field="*{memo}"></textarea>
		<br>
		<input type="hidden" th:value="${token}" name="token">
		<button class="button">登録</button>
		<button type="reset" class="button">リセット</button>
	</form>

</body>
</html>