<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>todo登録</h2>
	<form th:action="@{/myPage/insertTodo}" th:object="${todoListForm}" method="post">
		<span>重要度:</span>
		<input type="radio" th:value="1" th:field="*{importance}">
		<span>低</span>
		<input type="radio" th:value="2" th:field="*{importance}">
		<span>中</span>
		<input type="radio" th:value="3" th:field="*{importance}">
		<span>高</span>
		<br>
		<span>todo:</span>
		<input type="text" th:field="*{todo}">
		<br>
		<span>期限:</span>
		<input type="date" th:field="*{term}">
		<br>
		<span>カテゴリ</span>
		<input type="radio" th:value="1" th:field="*{category}">
		<span>仕事</span>
		<input type="radio" th:value="2" th:field="*{category}">
		<span>日課</span>
		<input type="radio" th:value="3" th:field="*{category}">
		<span>緊急</span>
		<input type="radio" th:value="4" th:field="*{category}">
		<span>その他</span>
		<br>
		<span>備考・メモ:</span>
		<textarea rows="4" cols="50" th:field="*{memo}"></textarea>
		<br>
		<input type="hidden" th:value="${token}" name="token">
		<button>登録</button>
		<button type="reset">リセット</button>
	</form>

</body>
</html>