<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>to-doList</title>
<link rel="stylesheet" th:href="@{../css/common.css}" />
</head>
<body>
	<header th:fragment="frag_header">
		<form th:action="@{/myPage/top}">
			<input type="hidden" th:value="${token}" name="token">
			<button class="button">トップ</button>
		</form>
		<form th:action="@{/todoList/list}">
			<input type="hidden" th:value="${token}" name="token">
			<button class="button">to-doリスト</button>
		</form>
		<form th:action="@{/myPage/registrateTodo}">
			<input type="hidden" th:value="${token}" name="token">
			<button class="button">to-do追加</button>
		</form>
		<form th:action="@{/myPage/log}">
			<input type="hidden" th:value="${token}" name="token">
			<button class="button">to-doログ</button>
		</form>
	</header>
	<h1>todoList</h1>
	<input type="hidden" th:value="${token}" id="token">
	<span id="todone"></span>
	<table border="1">
		<tr>
		</tr>
		<tr>
			<th>重要度</th>
			<th>やること</th>
			<th>期限</th>
			<th>カテゴリ</th>
			<th>備考・メモ</th>
			<th>実施済み</th>
		</tr>
		<tr th:each="item : ${todoList}">
			<td th:if="${item.importance} == 1" th:text="低" id="importance"></td>
			<td th:if="${item.importance} == 2" th:text="中" id="importance"></td>
			<td th:if="${item.importance} == 3" th:text="高" id="importance"></td>
			<td th:text="${item.todo}"></td>
			<td th:text="${item.term}"></td>
			<td th:if="${item.category} == 1" th:text="仕事"></td>
			<td th:if="${item.category} == 2" th:text="日課"></td>
			<td th:if="${item.category} == 3" th:text="緊急"></td>
			<td th:if="${item.category} == 4" th:text="その他"></td>
			<td th:text="${item.memo}"></td>
			<td><input type="checkbox" th:value="${item.id}" id="enforcement" name="enforcement" onchange="enforcement()"></td>
		</tr>
	</table>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script th:src="@{/js/common.js}"></script>
	<script th:src="@{/js/todolist.js}"></script>
</body>
</html>