<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ユーザー登録</title>
</head>
<body>
	<h2>ユーザー登録</h2>
	<div th:text="${session.error}" style="color: red"></div>
	<form th:action="@{/user/registrationConfirmation}" method="post" th:object="${usersForm}" id="usersForm">
		<div>ユーザー名</div>
		<input type="text" th:field="*{name}" name="name" id="name"> <br>
		<div>メールアドレス</div>
		<input type="email" th:field="*{email}" name="email" id="email"> <br>
		<div id="noMatchPassword" style="color: red"></div>
		<div>パスワード</div>
		<input type="password" name="password" id="password"> <br>
		<div>確認用パスワード</div>
		<input type="password" name="checkPassword" id="checkPassword"> <br>
		<br>
		<div>以下の質問は、パスワードを忘れた際に使用します。</div>
		<br>
		<div>好きな映画のタイトルは？</div>
		<input type="text" th:field="*{secretAnswer1}" name="secretAnswer1" id="secretAnswer1"> <br>
		<div>子どものころに読んでいた本のタイトルは？</div>
		<input type="text" th:field="*{secretAnswer2}" name="secretAnswer2" id="secretAnswer2"> <br>
		<div>好きな食べ物は？</div>
		<input type="text" th:field="*{secretAnswer3}" name="secretAnswer3" id="secretAnswer3"> <br>
		<button id="submit" class="button">確認</button>
	</form>
	<form th:action="@{/user/registrationReset}" method="post" th:object="${usersForm}" id="formReset">
		<input type="hidden" th:field="*{name}" name="name" id="name">
		<input type="hidden" th:field="*{email}" name="email" id="email">
		<input type="hidden" th:field="*{secretAnswer1}" name="secretAnswer1" id="secretAnswer1">
		<input type="hidden" th:field="*{secretAnswer2}" name="secretAnswer2" id="secretAnswer2">
		<input type="hidden" th:field="*{secretAnswer3}" name="secretAnswer3" id="secretAnswer3">
		<button id="reset" class="button">リセット</button>
	</form>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script th:src="@{/js/common.js}"></script>

</body>
</html>